<%= form_for(task) do |f| %>
  
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  
  <%= f.label :status, '実施状況' %>
  <%= f.select :status, [["済", "済"], ["未済", "未済"]], :prompt => "選択してください" %>

  <%= f.submit '登録' %>
<% end %>